<footer class="footer has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p>
                    <small>
                        Orgânicos Floripa, uma plataforma informativa sobre alimentos orgânicos. <br />
                        Desenvolvida e disponibilizada por <a href="https://www.linkedin.com/in/lfernandoguedes/" target="_blank">Luís Fernando Guedes</a>.
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>