<footer class="footer has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p>
                    <small>
                        Contribua, colabore, nos ajude a construir a melhor plataforma na busca por orgânicos do Brasil.
                    </small>
                </p>
                <p style="margin-top: 1rem;">
                    <a href="http://bulma.io" target="_blank">
                        <img src="/img/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>