<nav class="navbar is-white">
    <div class="navbar-brand">
        </a>
        <div class="navbar-burger burger" data-target="navMenuColorwhite-example">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Página Inicial
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-warning"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSdsqZ4d6K_Z0rrnRqRSdgwVdH1ITEh5kbTavBylCD49v-9bMA/viewform"
                            target="_blank">
                            <span class="icon is-small">
                                <i class="fas fa-paper-plane"></i>
                            </span>
                            <span>Enviar Local</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop">
                    <h1 class="title is-2 is-spaced">
                        Orgânicos Floripa
                    </h1>
                    <h2 class="subtitle is-4">
                        Locais que entregam <strong>produtos orgânicos</strong> em <strong>Florianópolis</strong>,
                        <strong>São
                            José</strong> e <strong>Palhoça</strong>.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
            </div>
        </nav>
    </div>
</section>