{{> head}}

<body>
  {{> header}}

  <section class="section">
    <div class="container">
      <div class="columns">
        {{> card}}
      </div>
    </div>
  </section>
  {{> footer}}

  <script defer src="https://kit.fontawesome.com/864c137099.js" crossorigin="anonymous"></script>
</body>

</html>